<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="a2pInstaller" Manufacturer="Uiwave UAB " Version="1.0.0." UpgradeCode="30303f86-34b8-41b1-95df-8ca6e867ac8d">1
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
