<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE' Name='Source'>
<Component Id='SOURCE' Guid='803c0948-232e-4358-bd4e-3e165d80a774'>
    <File Id='SOURCE_a2p.Shared.deps.json' Source='a2p.Shared.deps.json' />
    <File Id='SOURCE_a2p.Shared.dll' Source='a2p.Shared.dll' />
    <File Id='SOURCE_a2p.Shared.pdb' Source='a2p.Shared.pdb' />
    <File Id='SOURCE_appsettings.json' Source='appsettings.json' />
    <File Id='SOURCE_appsettings.Production.json' Source='appsettings.Production.json' />
    <File Id='SOURCE_Interop.MSXML2.dll' Source='Interop.MSXML2.dll' />
    <File Id='SOURCE_Interop.PrefCAD.dll' Source='Interop.PrefCAD.dll' />
    <File Id='SOURCE_Interop.PrefComponents.dll' Source='Interop.PrefComponents.dll' />
    <File Id='SOURCE_Interop.PrefDataManager.dll' Source='Interop.PrefDataManager.dll' />
    <File Id='SOURCE_Interop.PrefErrors.dll' Source='Interop.PrefErrors.dll' />
    <File Id='SOURCE_Interop.PrefImagen.dll' Source='Interop.PrefImagen.dll' />
    <File Id='SOURCE_Interop.PrefPrices.dll' Source='Interop.PrefPrices.dll' />
    <File Id='SOURCE_Interop.PrefSales.dll' Source='Interop.PrefSales.dll' />
    <File Id='SOURCE_MathNet.Numerics.dll' Source='MathNet.Numerics.dll' />
    <File Id='SOURCE_Microsoft.Bcl.AsyncInterfaces.dll' Source='Microsoft.Bcl.AsyncInterfaces.dll' />
    <File Id='SOURCE_Microsoft.Bcl.Cryptography.dll' Source='Microsoft.Bcl.Cryptography.dll' />
    <File Id='SOURCE_Microsoft.Data.SqlClient.dll' Source='Microsoft.Data.SqlClient.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Caching.Abstractions.dll' Source='Microsoft.Extensions.Caching.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Caching.Memory.dll' Source='Microsoft.Extensions.Caching.Memory.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Configuration.Abstractions.dll' Source='Microsoft.Extensions.Configuration.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Configuration.Binder.dll' Source='Microsoft.Extensions.Configuration.Binder.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Configuration.dll' Source='Microsoft.Extensions.Configuration.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Configuration.FileExtensions.dll' Source='Microsoft.Extensions.Configuration.FileExtensions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Configuration.Json.dll' Source='Microsoft.Extensions.Configuration.Json.dll' />
    <File Id='SOURCE_Microsoft.Extensions.DependencyInjection.Abstractions.dll' Source='Microsoft.Extensions.DependencyInjection.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.DependencyInjection.dll' Source='Microsoft.Extensions.DependencyInjection.dll' />
    <File Id='SOURCE_Microsoft.Extensions.DependencyModel.dll' Source='Microsoft.Extensions.DependencyModel.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Diagnostics.Abstractions.dll' Source='Microsoft.Extensions.Diagnostics.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.FileProviders.Abstractions.dll' Source='Microsoft.Extensions.FileProviders.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.FileProviders.Physical.dll' Source='Microsoft.Extensions.FileProviders.Physical.dll' />
    <File Id='SOURCE_Microsoft.Extensions.FileSystemGlobbing.dll' Source='Microsoft.Extensions.FileSystemGlobbing.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Hosting.Abstractions.dll' Source='Microsoft.Extensions.Hosting.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Logging.Abstractions.dll' Source='Microsoft.Extensions.Logging.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Logging.dll' Source='Microsoft.Extensions.Logging.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Logging.EventLog.dll' Source='Microsoft.Extensions.Logging.EventLog.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Options.dll' Source='Microsoft.Extensions.Options.dll' />
    <File Id='SOURCE_Microsoft.Extensions.Primitives.dll' Source='Microsoft.Extensions.Primitives.dll' />
    <File Id='SOURCE_Microsoft.Identity.Client.dll' Source='Microsoft.Identity.Client.dll' />
    <File Id='SOURCE_Microsoft.Identity.Client.Extensions.Msal.dll' Source='Microsoft.Identity.Client.Extensions.Msal.dll' />
    <File Id='SOURCE_Microsoft.IdentityModel.Abstractions.dll' Source='Microsoft.IdentityModel.Abstractions.dll' />
    <File Id='SOURCE_Microsoft.IdentityModel.JsonWebTokens.dll' Source='Microsoft.IdentityModel.JsonWebTokens.dll' />
    <File Id='SOURCE_Microsoft.IdentityModel.Logging.dll' Source='Microsoft.IdentityModel.Logging.dll' />
    <File Id='SOURCE_Microsoft.IdentityModel.Protocols.dll' Source='Microsoft.IdentityModel.Protocols.dll' />
    <File Id='SOURCE_Microsoft.IdentityModel.Protocols.OpenIdConnect.dll' Source='Microsoft.IdentityModel.Protocols.OpenIdConnect.dll' />
    <File Id='SOURCE_Microsoft.IdentityModel.Tokens.dll' Source='Microsoft.IdentityModel.Tokens.dll' />
    <File Id='SOURCE_Microsoft.SqlServer.Server.dll' Source='Microsoft.SqlServer.Server.dll' />
    <File Id='SOURCE_Newtonsoft.Json.dll' Source='Newtonsoft.Json.dll' />
    <File Id='SOURCE_RBush.dll' Source='RBush.dll' />
    <File Id='SOURCE_Serilog.AspNetCore.dll' Source='Serilog.AspNetCore.dll' />
    <File Id='SOURCE_Serilog.dll' Source='Serilog.dll' />
    <File Id='SOURCE_Serilog.Enrichers.Environment.dll' Source='Serilog.Enrichers.Environment.dll' />
    <File Id='SOURCE_Serilog.Enrichers.Thread.dll' Source='Serilog.Enrichers.Thread.dll' />
    <File Id='SOURCE_Serilog.Exceptions.dll' Source='Serilog.Exceptions.dll' />
    <File Id='SOURCE_Serilog.Expressions.dll' Source='Serilog.Expressions.dll' />
    <File Id='SOURCE_Serilog.Extensions.Hosting.dll' Source='Serilog.Extensions.Hosting.dll' />
    <File Id='SOURCE_Serilog.Extensions.Logging.dll' Source='Serilog.Extensions.Logging.dll' />
    <File Id='SOURCE_Serilog.Extensions.Logging.File.dll' Source='Serilog.Extensions.Logging.File.dll' />
    <File Id='SOURCE_Serilog.Formatting.Compact.dll' Source='Serilog.Formatting.Compact.dll' />
    <File Id='SOURCE_Serilog.Formatting.Compact.Reader.dll' Source='Serilog.Formatting.Compact.Reader.dll' />
    <File Id='SOURCE_Serilog.Settings.Configuration.dll' Source='Serilog.Settings.Configuration.dll' />
    <File Id='SOURCE_Serilog.Sinks.Async.dll' Source='Serilog.Sinks.Async.dll' />
    <File Id='SOURCE_Serilog.Sinks.Console.dll' Source='Serilog.Sinks.Console.dll' />
    <File Id='SOURCE_Serilog.Sinks.Debug.dll' Source='Serilog.Sinks.Debug.dll' />
    <File Id='SOURCE_Serilog.Sinks.EventLog.dll' Source='Serilog.Sinks.EventLog.dll' />
    <File Id='SOURCE_Serilog.Sinks.File.dll' Source='Serilog.Sinks.File.dll' />
    <File Id='SOURCE_Serilog.Sinks.Seq.dll' Source='Serilog.Sinks.Seq.dll' />
    <File Id='SOURCE_SixLabors.Fonts.dll' Source='SixLabors.Fonts.dll' />
    <File Id='SOURCE_System.ClientModel.dll' Source='System.ClientModel.dll' />
    <File Id='SOURCE_System.Configuration.ConfigurationManager.dll' Source='System.Configuration.ConfigurationManager.dll' />
    <File Id='SOURCE_System.Diagnostics.DiagnosticSource.dll' Source='System.Diagnostics.DiagnosticSource.dll' />
    <File Id='SOURCE_System.Diagnostics.EventLog.dll' Source='System.Diagnostics.EventLog.dll' />
    <File Id='SOURCE_System.Formats.Asn1.dll' Source='System.Formats.Asn1.dll' />
    <File Id='SOURCE_System.IdentityModel.Tokens.Jwt.dll' Source='System.IdentityModel.Tokens.Jwt.dll' />
    <File Id='SOURCE_System.IO.Packaging.dll' Source='System.IO.Packaging.dll' />
    <File Id='SOURCE_System.IO.Pipelines.dll' Source='System.IO.Pipelines.dll' />
    <File Id='SOURCE_System.Memory.Data.dll' Source='System.Memory.Data.dll' />
    <File Id='SOURCE_System.Security.Cryptography.Pkcs.dll' Source='System.Security.Cryptography.Pkcs.dll' />
    <File Id='SOURCE_System.Security.Cryptography.ProtectedData.dll' Source='System.Security.Cryptography.ProtectedData.dll' />
    <File Id='SOURCE_System.Text.Encodings.Web.dll' Source='System.Text.Encodings.Web.dll' />
    <File Id='SOURCE_System.Text.Json.dll' Source='System.Text.Json.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_cs' Name='SOURCE_cs'>
<Component Id='SOURCE_cs' Guid='4a5dbe30-16a7-4b95-b104-0c48818b21bd'>
    <File Id='SOURCE_cs_Microsoft.Data.SqlClient.resources.dll' Source='cs/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_de' Name='SOURCE_de'>
<Component Id='SOURCE_de' Guid='be316bce-ff9f-41c9-911b-6adf704a7a9f'>
    <File Id='SOURCE_de_Microsoft.Data.SqlClient.resources.dll' Source='de/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_es' Name='SOURCE_es'>
<Component Id='SOURCE_es' Guid='bfb42270-2d36-4f2f-ba2a-86d15a466c5d'>
    <File Id='SOURCE_es_Microsoft.Data.SqlClient.resources.dll' Source='es/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_fr' Name='SOURCE_fr'>
<Component Id='SOURCE_fr' Guid='a10a4032-2853-41d6-bb04-47874b2709c6'>
    <File Id='SOURCE_fr_Microsoft.Data.SqlClient.resources.dll' Source='fr/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_it' Name='SOURCE_it'>
<Component Id='SOURCE_it' Guid='771dfb56-a340-46f4-9345-8b28199bbf08'>
    <File Id='SOURCE_it_Microsoft.Data.SqlClient.resources.dll' Source='it/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_ja' Name='SOURCE_ja'>
<Component Id='SOURCE_ja' Guid='7a94988d-20c1-463d-9702-b3a2b63eaffd'>
    <File Id='SOURCE_ja_Microsoft.Data.SqlClient.resources.dll' Source='ja/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_ko' Name='SOURCE_ko'>
<Component Id='SOURCE_ko' Guid='e9d7be59-d32e-4883-8ca3-283fc423a3ac'>
    <File Id='SOURCE_ko_Microsoft.Data.SqlClient.resources.dll' Source='ko/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_pl' Name='SOURCE_pl'>
<Component Id='SOURCE_pl' Guid='aa258ac6-83b5-4bbe-b66e-3ec74871b5ee'>
    <File Id='SOURCE_pl_Microsoft.Data.SqlClient.resources.dll' Source='pl/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_pt_BR' Name='SOURCE_pt_BR'>
<Component Id='SOURCE_pt_BR' Guid='b54c830f-7dfc-4172-b697-4532a6182e16'>
    <File Id='SOURCE_pt_BR_Microsoft.Data.SqlClient.resources.dll' Source='pt-BR/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_ru' Name='SOURCE_ru'>
<Component Id='SOURCE_ru' Guid='312070ed-3021-4fab-b90c-f631e2eb758d'>
    <File Id='SOURCE_ru_Microsoft.Data.SqlClient.resources.dll' Source='ru/Microsoft.Data.SqlClient.resources.dll' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_runtimes' Name='SOURCE_runtimes'>
<Component Id='SOURCE_runtimes' Guid='a1aed336-b326-40b3-ab03-3de5c7b70c84'>
</Component>
<Component Id='SOURCE_runtimes_browser' Guid='fcb7e416-d11b-4146-9d38-fa4f1106cd8c'>
</Component>
<Component Id='SOURCE_runtimes_browser_lib' Guid='fc434f8b-7021-4788-af59-f8e4f457ec05'>
</Component>
<Component Id='SOURCE_runtimes_browser_lib_net8.0' Guid='b4aba13d-a035-4b66-9adc-d109500314fb'>
    <File Id='SOURCE_runtimes_browser_lib_net8.0_System.Text.Encodings.Web.dll' Source='runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll' />
</Component>
<Component Id='SOURCE_runtimes_unix' Guid='7e2d7d4e-e078-4e51-bf76-072cf962c800'>
</Component>
<Component Id='SOURCE_runtimes_unix_lib' Guid='a7489192-ea6b-4c3e-b48e-2cdec2935386'>
</Component>
<Component Id='SOURCE_runtimes_unix_lib_net8.0' Guid='d4776f44-7f81-45b3-879f-e661ab54a4c1'>
    <File Id='SOURCE_runtimes_unix_lib_net8.0_Microsoft.Data.SqlClient.dll' Source='runtimes/unix/lib/net8.0/Microsoft.Data.SqlClient.dll' />
</Component>
<Component Id='SOURCE_runtimes_win' Guid='ee3b9a0b-c50d-4f7f-8457-22f081f29b5d'>
</Component>
<Component Id='SOURCE_runtimes_win_lib' Guid='520a959a-cb3f-4cb7-b46c-47c1dc9df9a0'>
</Component>
<Component Id='SOURCE_runtimes_win_lib_net8.0' Guid='c13668ad-9df1-4bd9-a655-1218d028ae38'>
    <File Id='SOURCE_runtimes_win_lib_net8.0_Microsoft.Data.SqlClient.dll' Source='runtimes/win/lib/net8.0/Microsoft.Data.SqlClient.dll' />
    <File Id='SOURCE_runtimes_win_lib_net8.0_System.Diagnostics.EventLog.dll' Source='runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll' />
    <File Id='SOURCE_runtimes_win_lib_net8.0_System.Diagnostics.EventLog.Messages.dll' Source='runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll' />
    <File Id='SOURCE_runtimes_win_lib_net8.0_System.Security.Cryptography.Pkcs.dll' Source='runtimes/win/lib/net8.0/System.Security.Cryptography.Pkcs.dll' />
</Component>
<Component Id='SOURCE_runtimes_win_arm' Guid='6977d46b-635a-49c8-a494-5946031d56f4'>
</Component>
<Component Id='SOURCE_runtimes_win_arm_native' Guid='eda892b3-2754-4a7e-adf9-0df13361f724'>
    <File Id='SOURCE_runtimes_win_arm_native_Microsoft.Data.SqlClient.SNI.dll' Source='runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll' />
</Component>
<Component Id='SOURCE_runtimes_win_arm64' Guid='32d353bf-de48-4f1c-8178-b39f69c1f879'>
</Component>
<Component Id='SOURCE_runtimes_win_arm64_native' Guid='e480973e-bed6-4e4c-8089-167afef58519'>
    <File Id='SOURCE_runtimes_win_arm64_native_Microsoft.Data.SqlClient.SNI.dll' Source='runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll' />
</Component>
<Component Id='SOURCE_runtimes_win_x64' Guid='52693317-fc28-4a10-8187-9f0613c3198d'>
</Component>
<Component Id='SOURCE_runtimes_win_x64_native' Guid='7bd03738-ff7b-4949-a74e-bd6fc4420340'>
    <File Id='SOURCE_runtimes_win_x64_native_Microsoft.Data.SqlClient.SNI.dll' Source='runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll' />
</Component>
<Component Id='SOURCE_runtimes_win_x86' Guid='77ad075a-14e3-4c07-a0b8-f554f9af985f'>
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_SQL_Queries' Name='SOURCE_SQL_Queries'>
<Component Id='SOURCE_SQL_Queries' Guid='6035e085-ce41-4fc3-af70-b96ea34b4c29'>
    <File Id='SOURCE_SQL_Queries_Procedures.sql' Source='SQL_Queries/Procedures.sql' />
    <File Id='SOURCE_SQL_Queries_Tables.sql' Source='SQL_Queries/Tables.sql' />
    <File Id='SOURCE_SQL_Queries_Test.sql' Source='SQL_Queries/Test.sql' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id='TARGETDIR'>
      <Directory Id='SOURCE_Test_Cases' Name='SOURCE_Test_Cases'>
<Component Id='SOURCE_Test_Cases' Guid='e7e21a88-99d9-48ef-86cf-be7a6d29b907'>
    <File Id='SOURCE_Test_Cases_0000Z00001_1_Price_Details.xlsx' Source='Test_Cases/0000Z00001-1 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_1_SumList.xlsx' Source='Test_Cases/0000Z00001-1 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_2_Price_Details.xlsx' Source='Test_Cases/0000Z00001-2 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_2_SumList.xlsx' Source='Test_Cases/0000Z00001-2 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_3_Price_Details.xlsx' Source='Test_Cases/0000Z00001-3 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_3_SumList.xlsx' Source='Test_Cases/0000Z00001-3 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_4_Price_Details.xlsx' Source='Test_Cases/0000Z00001-4 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_4_SumList.xlsx' Source='Test_Cases/0000Z00001-4 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_5_Price_Details.xlsx' Source='Test_Cases/0000Z00001-5 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_5_SumList.xlsx' Source='Test_Cases/0000Z00001-5 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_6_Price_Details.xlsx' Source='Test_Cases/0000Z00001-6 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_6_SumList.xlsx' Source='Test_Cases/0000Z00001-6 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_7_Price_Details.xlsx' Source='Test_Cases/0000Z00001-7 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_7_SumList.xlsx' Source='Test_Cases/0000Z00001-7 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_8_Price_Details.xlsx' Source='Test_Cases/0000Z00001-8 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_8_SumList.xlsx' Source='Test_Cases/0000Z00001-8 SumList.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_9_Price_Details.xlsx' Source='Test_Cases/0000Z00001-9 Price_Details.xlsx' />
    <File Id='SOURCE_Test_Cases_0000Z00001_9_SumList.xlsx' Source='Test_Cases/0000Z00001-9 SumList.xlsx' />
</Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>

